
{{template "base" .}}

{{define "content"}}
<div class="container py-4 px-3 mx-auto">
	<form id="form-login" hx-post="/login" hx-indicator="#spinner" autocomplete="off">
		<div class="mb-3">
		<label for="token-input" class="form-label">User Token</label>
		<input type="text" name="token" class="form-control" id="token-input">
		</div>
		<button type="submit" class="btn btn-primary">
		<span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status"></span>
			Login
		</button>
	</form>
</div>

<script>
	document.getElementById('form-login').addEventListener('htmx:afterSwap', function (event) {
        window.location.reload();
    });
</script>

{{end}}
